<h1 class="DelAdmin">{{title}}</h1>




<div class="divDeAdminA">
<h2>bienvenido</h2>
<div class="divContenedorDeH3">
<h3 class="h3DelA">{{nombre}}</h3>
<h3 class="h3DelA">{{email}}</h3>

</div>






<a href="/admin/admin/salir"><h2>¿desea salir?</h2></a>
</div>