 <h1>Agregar pelicula</h1>
 <form action="/admin/admin/agregar" method="POST" enctype="multipart/form-data" style="margin: 0px 30px ;">
                    <section class="categorias">
                        <article class="Datos-producto">
                            <div class="nombre">
                                <label for="Titulo">Titulo</label>
                                <input type="text" name="Titulo" id="nombreP" >
                                
                            </div>
                            <div class="description">
                                <label for="Sinopsis">Sinopsis</label>
                                <input type="text" name="Sinopsis"  id="marcaP" >
                                
                            </div>
                              <div class="description">
                                <label for="Trailer">Trailer</label>
                                <input type="text" name="Trailer"  id="marcaP" >
                                
                            </div>
        
                            <div class="precio">
                                <label for="Estrellas">Estrellas</label>
                                <input type="number" name="Estrellas"  >
                                
                            </div>
                        </article>
                        
                        
                        <article><label for="plataformas">plataformas para ver</label>
                            
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casilla" value="Hbo Max">Hbo Max</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casilla" value="Disney Plus">Disney Plus</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casilla" value="Amazon Prime">Amazon Prime</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casilla" value="Netflix">Netflix</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casilla" value="Cuevana">Cuevana</div>
                        </article>
                         <article><label for="categorias">categorias</label>
                            
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casillac" value="Aventura">Aventura</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casillac" value="Accion">Accion</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casillac" value="Misterio">Misterio</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casillac" value="Terror">Terror</div>
                        <div class="checkbox"><input class="checkbox" type="checkbox" name="casillac" value="Suspenso">Suspenso</div>
                        </article>

            
                    </section>
                    
                   
                        <section>
                            <article class="carga-fotos">
                                <label for="">Fecha de estreno</label><input name="estreno" type="datetime-local">
                                <label for="imagenP">Subir imágenes</label>
                                <input id="imagenP" type="file" name="image" accept="image/*" >
                            </article>
                        </section>
                        <article class="boton-carga-producto">
                            <label for="producto-nuevo" method=""></label>
                            <button class="boton-guardar-producto" type="submit">Cargar pelicula</button>
                        </article>
                        <article class="boton-carga-producto">
                            <label for="volverAtrás" method=""></label>
                            <a href='/admin/admin' class="botonVistaAdministrador">Volver a la vista de administrador</a>
                        </article>
                    </section>
                </form>
                {{#if error}}
                <p>{{message}}</p>
                {{/if}}