        
        
        
        
        
        
        
        
        
        
        
        
         <form class="formLogin" action="/ingresar" method="post">
         <p class="pDelForm">
        <label class="labelDeLogin" for="">Su nombre</label>
        <input type="text" name="nombre" />
    </p>
        <p class="pDelForm">
        <label class="labelDeLogin" for="">Email</label>
        <input type="email" name="email" />
    </p>
    <p class="pDelForm">
        <label class="labelDeLogin" for="">Contraseña</label>
        <input type="password" name="contraseña" />
    </p>

<button type="submit" class="btn-btn-primary">Ingresar</button>

    </form>








  


   
